<!doctype html>
<html lang="zh">
  {include file="index/lib"}
  <body>
    {include file="index/top" /}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                        <img class="media-object" src="/static/images/icon_orderamount.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3>￥34.00</h3>
                        <p>今日订单金额</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                        <img class="media-object" src="/static/images/icon_orderamount.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3>￥34.00</h3>
                        <p>今日订单金额</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                        <img class="media-object" src="/static/images/icon_orderamount.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3>￥34.00</h3>
                        <p>今日订单金额</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">sdf</div>
            <div class="col-sm-4">sdf</div>
        </div>
    </div>
    
  </body>
</html>
<script>
    $(function () { 
        /**启用tooltip插件功能*/
        $("[data-toggle='tooltip']").tooltip(); 
        
    });
</script>