<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css" > -->
        <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
        <!-- <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/jquery.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <!-- <script src="/static/js/bootstrap.min.js" ></script> -->
        <title>农哒商城</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    </head>
    <!-- {include file="index/lib"} -->
<body>
    
    <div class="main">
        <div class="diy-box">
            <div class="diy-action">
              <div class="diy-actions-title">添加模块</div>
              <div class="diy-actions-addModules">
                <div class="diy-actions-addModules clearfix">
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="1">
                        <b>富文本</b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="2">
                          <b>标题</b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="3">自定义<br>
                          模块
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="4">
                          <b>商品</b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="5">
                          <b>商品<br>
                              列表
                          </b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="6">
                          <b>商品<br>
                              搜索
                          </b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="7">
                          <b>文本<br>
                              导航
                          </b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="8">
                          <b>图片<br>
                              导航
                          </b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="9">
                          <b>图片<br>
                              广告
                          </b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="10">
                          <b>分割线</b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="11">
                          <b>辅助<br>
                              空白
                          </b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="12">
                          <b>顶部<br>
                              菜单
                          </b>
                      </a>
                  </div>
                  <div class="tab">
                      <a href="javascript:;" class="j-diy-addModule" data-type="13">
                          <b>橱窗</b>
                      </a>
                  </div>
                  </div>
              </div>
            </div>
            <div id="diy-phone">
                <div class="diy-phone-header">
                    <i class="diy-phone-receiver"></i>
                    <div class="diy-phone-title j-pagetitle">店铺主页</div>
                </div>
                <div class="diy-phone-container">
                    <div class="diy-item" data-ori="module1">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="/static/uploadImg/201801141440064082240.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/static/uploadImg/201801141638539238380.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="diy-item-opt">
                            <span>編輯</span>
                            <span>刪除</span>
                        </div>
                    </div>
                </div>
                <div class="diy-phone-footer"></div>
                    
            </div>
            
            <div id="diy-ctrl">
                <div class="diy-ctrl-item" data-ori="module1">
                    <div class="formitems banner-opt">
                       <div class="banner-list">
                           <div class="list-aside">
                               <img src="/static/images/icon_orderamount.png" alt="">
                               <span>上傳照片</span>
                               <input type="file">
                           </div>
                           <div class="list-section form-horizontal">
                               <div class="linkto form-group">
                                   <label class="col-sm-2 control-label">连接：</label>
                                   <div class="col-sm-10">
                                     <input type="text" class="form-control link">
                                   </div>
                                   
                               </div>
                               <div class="name form-group">
                                   <label class="col-sm-2 control-label">名称：</label>
                                   <div class="col-sm-10">
                                      <input type="text" class="form-control name">
                                   </div>
                                  
                               </div>
                           </div>
                           
                       </div>
                       <div class="banner-list">
                           <div class="list-aside">
                               <img src="/static/images/icon_orderamount.png" alt="">
                               <span>上傳照片</span>
                               <input type="file" title="">
                           </div>
                           <div class="list-section form-horizontal">
                               <div class="linkto form-group">
                                   <label class="col-sm-2 control-label">连接：</label>
                                   <div class="col-sm-10">
                                     <input type="text"  class="form-control link">
                                   </div>
                                   
                               </div>
                               <div class="name form-group">
                                   <label class="col-sm-2 control-label">名称：</label>
                                   <div class="col-sm-10">
                                     <input type="text" class="form-control name">
                                   </div>
                                   
                               </div>
                           </div>
                           
                       </div>
                       <div>
                           <button  style="color:#fff;font-size:18px;margin-top:20px;outline:none;" type="button" class="btn btn-block add-banner">添加</button>
                       </div>
                    </div>
                </div>
            </div>
            <div class="diy-actions-submit">
              <a href="javascript:;" class="btn btn-primary" id="j-savePage">保存</a>
              <a href="javascript:scroll(0,0)" id="j-gotop" class="gotop" title="回到顶部"></a>
            </div>
        </div>
        
    </div>
    
</body>
</html>
<script>
    $(function(){
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 2000,//可选选项，自动滑动
            loop: true,
            pagination: '.swiper-pagination'

        })

        var data={
            banner:[
                {
                    goods_name:'玻尿酸',
                    goods_image:'./uploadImg/201801141440064082240.jpg',
                    fack_url:'http:www.baidu.com'
                },
                {
                    goods_name:'玻尿酸',
                    goods_image:'./uploadImg/201801141440064082240.jpg',
                    fack_url:'http:www.baidu.com'
                }
            ]
        }

        $('.j-pagetitle-ipt').change(function(){
            $('.j-pagetitle').text($(this).val())
        })

        //輪播圖添加按鈕功能
        $('.add-banner').click(function(){
            $item=$('<div class="banner-list">'+
                       '<div class="list-aside">'+
                           '<img src="/static/images/icon_orderamount.png" alt="">'+
                           '<span>上傳照片</span>'+
                           '<input type="file">'+
                       '</div>'+
                       '<div class="list-section">'+
                           '<div class="linkto">'+
                               '<span>連接到：</span>'+
                               '<input type="text">'+
                           '</div>'+
                       '</div>'+
                   '</div>');
            // $item.fadeIn();
            $(this).before($item.fadeIn());
        });
        $('.banner-opt').on('change','input[type="file"]',function(e){
            var self = e.target
            var fileRead=new FileReader();
            var file=self.files[0];
            fileRead.readAsDataURL(file);
            fileRead.onload=function(){ 
                $(self).prev().prev().attr('src',this.result)
            }
        })
        
        var banner={}
        $('.save').click(function(){
            
            banner.index=1;
            banner.decs='轮播图数据';
            banner.data=[];
            $('#diy-ctrl div[data-ori^="module"] img').each(function(){
                
            })
            $('.banner-list').each(function(index){
              var obj ={};
              obj.link=$(this).find('input.link').val();
              obj.name=$(this).find('input.name').val();
              obj.img=$(this).find('img').attr('src');
              banner.data.push(obj)
            })
            console.log(banner)
            $.ajax({
              url:'http://www.cc.com/index.php/api/UpdateTemp/index',
              type:'post',
              data:{
                content:JSON.stringify(banner)
              },
              success:function(res){
                console.log(res)
              }
            })
        })
    })
</script>